datasets
aura_mind_dataset.zip
extracted_frames
downloaded_model
finetuned_model_for_conversion
ai-edge-torch
.venv-converter
onnx_model
venv
.venv
optimum-executorch
mediapipe
aura_mind_validation_dataset.zip
audio_dataset.zip
orpheus-3b-pidgin-voice-v1
.venv_tts
Aura-maize
.env
__pycache__
/__pycache__/

*/.env.env
/.env
tools/__pycache__/
agents/__pycache__/
*/tools/__pycache__/
*/agents/__pycache__/
/agents/__init__.py
/tools/__init__.py
