datasets
aura_mind_dataset.zip
extracted_frames
downloaded_model
finetuned_model_for_conversion
ai-edge-torch
.venv-converter
onnx_model
venv
.venv
optimum-executorch
mediapipe
aura_mind_validation_dataset.zip
audio_dataset.zip